@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
/* PRIMARY */
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
/* ACCENT */
--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);
/*NEUTRAL */
--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
}
header {
    padding: 2rem 5rem;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}
h1 {
    color: var(--Very-Dark-Blue);
    font-family: raleway;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}
P {
    font-size: 1rem;
}

.desc {
    padding-bottom: 1rem;
    color: var(--Very-Dark-Blue);
}
.btn {
    background: var(--Bright-Blue);
    font-family: raleway;
    font-weight: 700;
    width: 160px;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
}
.btn:hover {
    cursor: pointer;
    background: #6495ED;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type="email"] {
    font-family: raleway;
}

/* ================================ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    display: flex;
    gap: 3em;
}
.logo {
    max-width: 8rem;
}
.nav-link  {
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    color: black;
}

/*============= END OF HEADER ========== */
.files, .pro {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-self: start;
}
form {
    display: flex;
    gap: 0.7rem;
}

.input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 2px;
    border: 1px solid black;
    padding: 7px;
}

/* ================== END OF HERO SECTION  ============== */

.productive {
    background: var(--Light-Grayish-Blue);
    padding-bottom: 3rem;
}
 
.fyloworks {
    color: var(--Moderate-Cyan);
    font-family: open sans;
    font-weight: 400;
    display: flex;
    text-decoration: none;
    
}
.pro a{
    border-bottom: 1px solid var(--Moderate-Cyan);
    width: fit-content;
}

.icon {
    width: 1.5rem;
    padding-left: 2px;
}

.card {
    margin: 2rem 0;
    font-size: 14px;
    max-width: 22rem;
    background: white;
    border-radius: 5px;
    padding: 1.5rem;
}
.quote-icon {
    width: 1rem;
}
.message {
    padding: 1rem 0;
    line-height: 1.5rem;
}
.avatar-info {
    display: flex;
    gap: 1rem;
}
.avatar {
    width: 2.5rem; 
    height: 2.5rem;
    border-radius: 50%;
}
.position {
    flex-direction: column;
}
.title {
    font-size: 12.5px;
    padding-top: 0.4rem;
}

/* ============= END OF PRODUCTIVE SECTION ================ */

.access {
    background: var(--Desaturated-Blue);     
}
.early-access {
    color: var(--Light-Grayish-Blue);  
}
h2 {
    font-family: raleway;
    font-weight: 700;
    padding-bottom: 1rem;
}
.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.email {
    width: 25rem;
    height: 2.5rem;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

/* ================ END OF ACCESS SECTION ================ */

footer {
    background: var(--Very-Dark-Blue);
}
.last {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    align-items: start;
    justify-items: start;
    justify-content: space-between;
    color: white;
    margin: auto;
}
.last {
    padding-top: 1rem;
}
.flogo {
    display: grid;
    grid-template-rows: 1;
    padding: 3rem 5rem 0;
}

footer  a {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: open sans;
    text-decoration: none;
}

.contact span {
    display: flex;
    gap: 1rem;
}

.about, 
.terms, 
.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer a:hover {
    color: var(--Bright-Blue);
}

.contact img {
    width: 1rem;
    height: 1rem; 
} 

.socials {
    display: flex;
    gap: 2.3rem;

}
.fa-brands {
    font-size: 2rem; 
}
.fa-brands:hover {
    color: var(--Bright-Blue);
    border-color: var(--Bright-Blue);
}


/* ============ MOBILE DEVICES ============= */

@media screen and (max-width: 767px) {
    header {
        padding: 2rem;
    }
    section {
        grid-template-columns: 1fr;
        place-items: center;
        gap: 2rem;
        padding: 2rem;
    }
    h1 {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    form {
        flex-direction: column;
        gap: 1rem;
    }
    .btn {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
    }
/* ===========  ======== */

    .logo {
        width: 5rem;
    }
    .nav-items {
        gap: 0.7rem; 
    }
    .nav-items a {
        font-weight: 400;
        font-size: 15px;
    }
/* ======= END OF HEADER ========= */

    .hero {
        padding-bottom: 3rem;
    }
    .hero .img-container {
        grid-row: 1;
        width: auto;
    }
    .hero article {
        grid-row: 2;
        text-align: center;
    }
    .input {
        width: 100%;
    }
/* =========== END OF HERO SECTION ======== */
    
    .top {
        background: url(./images/bg-curve-mobile.svg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
/* =========== END OF CURVED IMG SECTION ======== */

    .productive {
        justify-items: center;
    }
    .productive .img-wrapper {
        grid-row: 1;
        width: auto;
    }
    .productive .pro {
        grid-row: 2;
    }
    .pro h1 {
        font-size: 1rem;
        text-align: center;
    }
    a.fyloworks {
        font-size: 0.89rem;
        justify-content: center;
    }
    .card {
        padding: 1.2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .message {
        font-size: 0.87rem;
    }
/* =========== END OF PRODUCTIVE SECTION ======== */

    .access {
        padding: 3rem 2rem;
        text-align: center;
    }
    .email, .access-btn {
        max-width: 15rem;
    }
/* =========== END OF ACCESS SECTION ======== */

    .last {
        grid-template-columns: 1fr; 
        gap: 1.5rem;
        justify-items: start;
    }
    .flogo {
        padding: 2rem 2rem 1rem;
    }
    .socials {
        justify-self: center;
    }
/* =========== END OF LAST SECTION ======== */
}

/* =========== TABLET DEVICES ============== */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  
    header {
        padding: 2rem;
    }
    section {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 2rem;
    } 
    h1 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    form {
        flex-direction: column;
        gap: 1rem;
    }
    .logo {
        width: 10rem;
    }
    .email {
        width: 17rem;
    }
    .last {
        grid-template-columns: 13rem 10rem 10rem 10rem;
        gap: 0.5rem;
    }
    .contact p {
        font-size: 15px;
    }
    .flogo {
        padding: 2rem 2rem 1rem;
    }
    .socials {
        justify-content: space-between;
        gap: 2rem;
    }
    .about,
    .terms {
        justify-self: center;
    }
    .fa-brands {
        font-size: 1.5rem;
    }
}